body {
    font-family: Arial, sans-serif;
    background-color: #cfefff; /* light blue */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    width: 500px;
    padding: 30px;
    border: 6px solid #ffd700; /* yellow border */
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
}

h2 {
    margin-top: 0;
}

input {
    padding: 8px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    background-color: #ffd700;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
}

button:hover {
    background-color: #ffcc00;
}

img {
    height: 200px;
    margin-top: 10px;
}

select {
    width: 200px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.team-member {
    display: flex;
    align-items: center;
    gap: 15px;
    border-top: 2px solid #ddd;
    margin-top: 15px;
    padding-top: 10px;
}



#team img {
    display: block;
    margin: 10px auto;
    height: 80px;
}